body,
html {
  margin:5px;
  padding:10px;
  background:#FFFFFF;
  color:#000000;
  font-family: "Verdana", Sans;
  width: 500px;
}

body {
  font-size: small;
  font-family: "Helvetica","Verdana", "Arial", Sans;
  border-top: 6px solid #000000;
  border-bottom: 6px solid #000000;
  width: 500px;
}
a {
  color:#FC7901;
  background:inherit;
  text-decoration:none;
}

a:hover {
  color:#FC7901;
  background:#FFCC33;
  text-decoration:none;
}

h1 { 
  font-size: large; 
  background:#F0F0F0;
}

h2 { 
  font-size: medium; 
}

hr {
  height: 1px;
  color: #c0c0c0;
}

