body,
html {
  margin:5px;
  padding:10px;
  background:#FFFFFF;
  color:#000000;
  font-family: 'Arvo', serif;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Arvo', serif;
  border-top: 6px solid #000000;
  border-bottom: 6px solid #000000;
  width: 500px;
}

a {
  color:#FC7901;
  background:inherit;
  text-decoration:none;
}

a:hover {
  color:#FC7901;
  background:#FFCC33;
  text-decoration:none;
}

h1 { 
  font-size: x-large; 
  font-family: 'Vollkorn', serif;
  background:#F0F0F0;
}

h2 { 
  font-size: medium; 
  font-family: 'Vollkorn', serif;
}

hr {
  background-color: #fff;
  border-top: 2px dotted #8c8b8b;
}

p.footer {
  font-size: x-small;
}
