<hr />
<br />
<center>[ <a href="archive.html">Archive</a> ]</center>
<br />
<hr />
<p class="footer">{{ blog_name }} written by {{ author }} / powered by <a href="https://github.com/ultramookie/mmb">mmb</a></p>
</body>
</html>
