body,
html {
  color:#000000;
  font-family: 'Arvo', serif;
}

body {
  font-family: 'Arvo', serif;
  width: 500px;
}

p {
    padding: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 600px;
}

#contentwrap {
    width: 600;
    float: left;
    margin: 0 auto;
}

#content {
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    margin: 5px;
}

a {
  color:#FC7901;
  background:inherit;
  text-decoration:none;
}

a:hover {
  color:#FC7901;
  background:#FFCC33;
  text-decoration:none;
}

h1 { 
  font-size: x-large; 
  font-family: 'Vollkorn', serif;
  background:#F0F0F0;
}

h2 { 
  font-size: medium; 
  font-family: 'Vollkorn', serif;
}

hr {
  background-color: #fff;
  border-top: 2px dotted #8c8b8b;
}

p.footer {
  font-size: x-small;
}
